<div *ngIf="hero">
    <h2>{{ hero.name | uppercase}} details:</h2>
    <div><span>Id: {{ hero.id }}</span></div>

    <div>
        <label for="name">Name:</label>
        <input id="name" type="text" [(ngModel)]="hero.name" placeholder="Hero name">
    </div>
    <div>
        <label for="superpower">Superpower:</label>
        <input id="superpower" type="text" [(ngModel)]="hero.superpower" placeholder="Hero name">
    </div>
    <button type="button" (click)="goBack()">Go back</button>
</div>